{extend name="tpl/base" /}
{block name="title"}关于我们{/block}
{block name="main"}
<div class="aboutUs">
    <!-- a-about -->
    <div class="a-grid">
        <div class="container">
            <div class="w3l-about-heading">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
            </div>
            <div class="agileits-a-about-grids">
                <div class="col-md-5 agileits-a-about-left">
                    <img src="__HOME__/images/a1.jpg" alt="" />
                </div>
                <div class="col-md-7 agileits-a-about-right">
                    <h3>A few words about us</h3>
                    <h4>Praesent et aliquam erat, in pellentesque erat. Nulla massa nisl, vulputate nec urna vel, sagittis rhoncus leo. Donec pharetra congue tellus sed fringilla. Aliquam tellus est, mattis id nulla at, placerat bibendum velit. </h4>
                    <p>Fusce tincidunt vitae purus in interdum. Sed mattis erat vitae nunc dignissim, a facilisis elit porta. Nam a dui id magna tempus tempor. Mauris vel nunc nec ante semper facilisis a sit amet dolor. Aliquam viverra ex felis, consequat condimentum augue ultrices vel. Pellentesque sed nibh ac diam tempor fringilla sit amet a tortor. Praesent sodales sapien turpis.
                        <span>Maecenas vestibulum rhoncus rhoncus. Pellentesque ullamcorper consectetur elit sit amet rhoncus. Maecenas lobortis est vel odio volutpat laoreet. Praesent pharetra interdum lorem, eleifend ullamcorper sapien mattis efficitur. Phasellus sed nisi ultrices, sodales enim non, ullamcorper sapien. Nullam mollis tempus mauris in vulputate.</span>
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //a-about -->
    <!-- different -->
    <div class="jarallax different">
        <div class="container">
            <div class="w3-different-heading">
                <h3>Why we are different</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
            </div>
            <div class="w3agile-different-info">
                <p>Cras vehicula massa id ipsum venenatis, non convallis libero pellentesque. Sed tristique massa et mattis mattis. Nunc euismod consequat ex, eu tincidunt justo malesuada vitae. Sed auctor diam quis nulla hendrerit porta. Quisque venenatis, tortor quis tristique congue, lorem lectus elementum augue, in laoreet lorem justo lacinia velit. Phasellus tempus luctus velit, eu fermentum arcu porttitor sit amet. Suspendisse id efficitur sem. Donec laoreet ante at facilisis dictum. Donec sodales porta orci sed porta. Vivamus est enim, pharetra sit amet placerat ut, eleifend quis purus. Sed elementum tortor erat, placerat rutrum augue facilisis vel. Morbi feugiat tortor erat, nec gravida mauris egestas tincidunt. Sed vitae dignissim sapien.</p>
                <div class="w3agile-button">
                    <a href="single.html">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- //different -->
    <!-- team -->
    <div class="team">
</div>
{/block}