<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- bootstrap-css -->
    <link href="__HOME__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="__HOME__/css/style.css" type="text/css" media="all"/>
    <!--// css -->
    <link rel="stylesheet" href="__HOME__/css/ken-burns.css">
    <!-- font-awesome icons -->
    <link href="__HOME__/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="__HOME__/js/jquery-1.11.1.min.js"></script>
    <script src="__HOME__/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="__HOME__/js/SmoothScroll.min.js"></script>
    <script src="__HOME__/js/jarallax.js"></script>
    <title>{block name="title"}{/block}</title>
</head>
<body>
<div :class="{'about-bg': !is_index}" class="banner" id="main">
    <!--顶部信息-->
    <div class="top-banner" :class="{'about-top-banner': !is_index}">
        <div class="container">
            <div class="top-banner-left">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +1 234 567 8901</li>
                    <li><a href="mailto:example@email.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                        mail@example.com</a></li>
                </ul>
            </div>
            <div class="top-banner-right">
                <ul>
                    <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--顶部导航-->
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1>
                    <a href="{:url('index/index')}">新航线教育</a>
                </h1>
            </div>
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">Menu
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <template v-for="item,index in menu">
                                <li><a :class="{active: index == isActive}" :href="item.url">{{item.name}}</a></li>
                            </template>
                            <!--<li><a class="active" href="{:url('index')}">首页</a></li>-->
                            <!--<li><a href="{:url('index/about')}">关于我们</a></li>-->
                            <!--<li><a href="{:url('index')}">课程</a></li>-->
                            <!--<li><a href="{:url('index/gallery')}">展示</a></li>-->
                            <!--<li><a href="{:url('index/contact')}">联系我们</a></li>-->
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{block name="main"}{/block}
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Address</h4>
                </div>
                <div class="footer-grid-info">
                    <p>Eiusmod Tempor inc
                        <span>St Dolore Place,Kingsport 56777.</span>
                    </p>
                    <p class="phone">Phone : +1 123 456 789
                        <span>Email : <a href="mailto:example@email.com">mail@example.com</a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Navigation</h4>
                </div>
                <div class="footer-grid-info">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Follow</h4>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Newsletter</h4>
                </div>
                <div class="footer-grid-info">
                    <form action="#" method="post">
                        <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here"
                               required="">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/"
                                                                                        target="_blank" title="模板之家">模板之家</a>
                - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        </div>
    </div>
</div>
<script src="__HOME__/js/SmoothScroll.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#main",
        data: {
            is_index: true,
            isActive: 0,
            menu: [{
                name: '首页',
                url: "{:url('index')}"
            }, {
                name: '关于我们',
                url: "{:url('index/about')}"
            }, {
                name: '课程',
                url: "{:url('index')}"
            }, {
                name: '展示',
                url: "{:url('index/gallery')}"
            }, {
                name: '联系我们',
                url: "{:url('index/contact')}"
            }]
        },
        mounted: function () {
            var url = window.location.href.split('/');
            var _this = this;
            switch (url[url.length - 1]) {
                case 'index.html':
                    _this.is_index = true;
                    _this.isActive = 0;
                    break;
                case 'about.html':
                    _this.is_index = false;
                    _this.isActive = 1;
                    break;
                case 'course.html':
                    _this.is_index = false;
                    _this.isActive = 2;
                    break;
                case 'gallery.html':
                    _this.is_index = false;
                    _this.isActive = 3;
                    break;
                case 'contact.html':
                    _this.is_index = false;
                    _this.isActive = 4;
                    break;
                default:
                    _this.is_index = true;
                    break;
            }
        }
    });
</script>
</body>
</html>